*{
font-family: 'Cera Round Pro';

}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    /* font-weight: bold; */
    /* text-align: center;  */
    background: #eae7dc;
    
  }
  
  .wrapper > * {
    padding: 10px;
    flex: 1 100%;
  }
  
  .header {
    background: #edc7b7;
  }
  
  .footer {
    background: #edc7b7;
    
    text-align: center;
  }
  
  .main {
    text-align: left;
    /* background: deepskyblue; */
    padding: 60px;
  }
  
 
  
 
  
  @media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
     
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 0; 
    margin: 0;
  }

 
/* .navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0; 
  
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 0.5em 2em;
  color: white;
} */

@media all and (max-width: 800px) {
  .topnav-right {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .topnav-right {
    width: 0;
    flex-flow: column wrap;
    /* padding: 0; */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #333;
    
  }
  .topnav-right a { 
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 25px;
    
    display: block;
    transition: 0.3s;
  }
  /* .navigation li:last-of-type a {
    border-bottom: none;
  } */

  .topnav-right .closebtn {
  visibility: visible;
  font-size: 36px;
  margin-right: 15px;
  
  
}


.topnav .openbtn {
  visibility: visible;
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: absolute;
  right: 20px;
 
}
}

.topnav {
  background-color:#edc7b7;
  
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color:  #183153;
text-align: center;
/* padding: 14px 16px; */
text-decoration: none;
font-size: 17px;
/* background-color: #c4c4c4; */
margin-right: 20px;
padding: 10px 20px;
/* border-radius: 20px; */

}

/* Change the color of links on hover */
/* .topnav a:hover {
background-color: #ddd;
color: black;
} */

/* Add a color to the active/current link */
/* .topnav a.active {
background-color: #04AA6D;
color: white;
} */

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
display: flex;
}

.openbtn{
  visibility: hidden;
  
}

.closebtn{
  visibility: hidden;
}

.tab {
  overflow: hidden;
 
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  
  border-top: none;
}

.tab button{
  font-size: 20px;

}

#London{
  display: block;
}

/* .fill{

  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px 35px 10px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill::after {
  content: "";
  background-color: #8E6C6C;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill:hover::after {
  top: 0px;
  left: 0px;
} */



/* button {
  font-weight: 600;
  border: solid 2px black;
  outline: 0;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  letter-spacing: .08rem;
  background-color: white;
  border-radius: .35rem;
  position: relative;
  cursor: pointer;}

  
  
button::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  #8E6C6C;
    z-index: -1;
    border-radius: .35rem;
    border: solid 2px black;;
    transition: all .3s ease-in-out;
    
  }


  button::after {
    border: 0;
     box-shadow: 0px 0px 0px 2px black;
     top: .5rem;
     left: .5rem;
     
  }
  
  button:hover {
    background-color:  #8E6C6C;
    border: 0;
    }
    button::after {
      background-color: black;
      box-shadow: none;
      
    }
    button a:hover{
      color: white;
    }
  
   */

   /* .wrapper {
    height: 100%;
    width: 100%;
    height: 100vh;
  } */
  
  .blog_post {
    position: relative;
    /* padding: 6rem 3rem 6rem 6rem; */
    background: #eae7dc;
    /* max-width: 400px; */
    /* border-radius: 10px; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    box-shadow: 0px 1px rgba(0, 0, 0, 0.3);
    padding-bottom: 20px;
   
  }
  .group{
    display: flex;
    
  }

  .group p{padding-right: 20px;}
  
  /* .img_pod {
    height: 110px;
    width: 110px;
    background: linear-gradient(90deg, #ff9966, #ff5e62);
    z-index: -1;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
    border-radius: 100%;
    position: absolute;
    left: -50px;
    top: 10px;
    transform: translateY(-50%);
  }
  
  img {
    height: 100px;
    width: 100px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  } */
  
 
 
  .container_copy h1 {
    /* margin: 0 0 1rem 0; */
    font-size: 1.5rem;
    /* letter-spacing: 0.5px; */
    color: #183153;
    
  }

 
  
  p {
    /* margin: 0 0 4.5rem 0; */
    font-size: 1rem;
    color: #333;
  }
  
  .btn_primary {
    border: none;
    outline: none;
    background: #edc7b7;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    color: #183153;
    font-size: 0.8rem;
    font-weight: 500;
    
  
    transition: all .2s ease-in;
    text-decoration: none;
  }
  
  .btn_primary:hover {
    box-shadow: 0px 2px 00rem rgba(255, 94, 98, 0.5);
  } 
  .read{
    margin-top: 15px;
  }

  .fa {
    margin-top: 19px;
  }
  
  .search-form .search-field {
    width: 90%;
    padding-right: 40px;
}

input{
  box-sizing: border-box;
    max-width: 100%;
    margin: 0;
    padding: 7px;
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    border-radius: 4px;
}

.search-form .search-submit {
  width: 40px;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  right: 90px;
  left: auto;
  top: 105px;
 
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  box-shadow: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  opacity: .666;
  cursor: pointer;
}

.search-form{
  margin-top: -44px;
}


.dropdown-content {
  display:none;
  position: absolute;
  background-color: #f1f1f1;
  width: 140px;
  margin-top: 50px;

  z-index: 2;
  
 
}
.dropdown-content a {
  color: black;

  text-decoration: none;
  
}

.show {display:block;

}

.dropdown-content a:hover{

  background-color: #ddd;
 width: 100px;
 text-align: left;
}





.dropdown-content2 {
  display:none;
  position: absolute;
  background-color: #f1f1f1;
  width: 120px;
  margin-top: 50px;

  z-index: 2;
  
 
}
.dropdown-content2 a {
  color: black;

  text-decoration: none;
  
}

.show2 {display:block;

}

.hide{
  display: none;
}

.dropdown-content2 a:hover{

  background-color: #ddd;
 width: 80px;
 text-align: left;
}


.dark-mode {
  background: black;
  color: white;
}

#sun{
  display: none;
}